  <!DOCTYPE mapper
     PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
     "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

   <mapper namespace="com.creativedesignproject.kumoh_board_backend.mapper.FavoriteMapper">
       <resultMap id="GetFavoriteListResultSetMap" type="com.creativedesignproject.kumoh_board_backend.Board.resultSet.GetFavoriteListResultSet">
           <result property="userId" column="user_id"/>
       </resultMap>

       <select id="getFavoriteList" resultMap="GetFavoriteListResultSetMap">
           SELECT u.user_id
           FROM favorite f
           JOIN user u ON f.user_id = u.id
           WHERE f.post_number = #{post_number}
       </select>
   </mapper>